* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");
  font-family: "Arima", system-ui;
}

/* Nav */
.nav-tope {
  margin-top: 2rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.nav-tope a {
  margin: 5px;
  text-decoration: none;
  background-color: #dedbd2;
  box-shadow: 0px 0.5px 1px 0px black;
  border-radius: 4px;
  box-sizing: border-box;
  color: #4a5759;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7d7;
  box-sizing: border-box;
}

a:visited {
  background-color: #b0c4b1;
}

.boton-nav a:hover {
  background-color: #edafb8;
}

/* Main */
main {
  width: 100%;
  background-color: #b0c4b1;
}

.main-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Clases especifícas */
.mouse-div {
    width: 30%;
    height: 60%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-style: groove;
    background-color:#B0C4B1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-prod {
  width: 100%;
}

.color-rojo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

/* Carrusel */
.article-carrusel {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.article-carrusel-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foto-carrusel {
  width: 100%;
  height: 100%;
}

.article-carrusel-div button {
  margin: 20px;
  border: none;
  background: transparent;
}

.article-carrusel-div button img {
  width: 70px;
  color: #4a5759;
}

.article-carrusel-div button img:hover {
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px #f1f1eb;
}

/* Nosotros */
.div-nosotros {
  background-color: #b0c4b1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imagen-centrada {
  max-width: 100%;
  height: auto;
}

.volverInicio {
  display: flex;
  justify-content: center;
}

.btn-nosotros {
  margin: 5px;
  text-decoration: none;
  background-color: #4a5759;
  box-shadow: 0px 0.5px 1px 0px black;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  color: #4a5759;
}

/* Formulario */
.contenedor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

form {
  width: 50%;
  background-color: aliceblue;
  padding: 10px;
}

fieldset {
  display: flex;
  border-radius: 5px;
}

/* Footer de las páginas */
footer {
  background-color: #f7e1d7;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  width: 100%;
}
